/* @font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
} */

/* common */

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* page */

.page {
  height: 100%;
}

.page__body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

/* page-header */

.page-header__container {
  padding: 0 60px;
}


.page-header__logo {
  padding-top: 18px;
}

.page-hedaer__nav {
  display: flex;
  flex-direction: column;
}

.additional-menu__list,
.site-menu {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.additional-menu {
  display: flex;
  padding: 30px 0;
}

.additional-menu__link {
  text-decoration: none;
}

.additional-menu__link--login {
  margin-right: auto;
}

.site-menu {
  gap: 45px;
}

.site-menu__item--catalog {
  margin-right: auto;
}

.site-menu__link{
  text-decoration: none;
}

/* main */
.page__main {
  flex-grow: 1;
}

/* promo */

.slide {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

/* catalog-categories */

.catalog-section__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
}

.catalog-section__link  {
  text-decoration: none;
}

/* services */

.services {

}

.services__container {
  min-height: 320px;
  display: grid;
  grid-template-columns: 287px auto;

}

.services__nav {
  padding: 64px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.services__content {
  display: none;
}

.services__content--active {
  display: block;
}

/* delivery */

.delivery__container {
  min-height: 100px;
  display: grid;
  grid-template-columns: 125px 1fr 125px;
  background-color: #f0f0f0;
  justify-items: center;
  align-items: center;
  color: #000000;
  text-decoration: none;
}

.delivery__title {
  margin: 0;
  display: block;
  align-self: center;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.delivery__container::before {
  content: "";
  width: 125px;
  height: 100px;
  background-color: #ffe17f;
}

.delivery__container::after {
  content: "";
  width: 40px;
  height: 40px;
  background-color: rgba(220, 220, 220, 0.50);
  border-radius: 50%;

}

/* info-section   */

.info-section__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 108px;
}

/* subscribe */

.subscribe {
  background-color: #f0f0f0;
}

/* page-footer */

.page-footer__container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "logo . ."
    "address nav tel"
    "line social developer";
  column-gap: 64px;
  row-gap: 35px;
}

.page-footer__logo {
  grid-area: logo;
}

.page-footer__address {
  margin: 0;
  grid-area: address;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-footer__container::after {
  grid-area: line;
  content: "";
  background-color:#ffc700;
  width: 90px;
  height: 7px;
  display: flex;
  align-self: center;
}

.page-footer__nav {
  grid-area: nav;
  display: flex;
  list-style-type: none;
  gap: 35px;
  justify-self: center;
}

.footer-menu__link {
  text-decoration: none;
}

.page-footer__social {
  grid-area: social;
  display: flex;
  list-style-type: none;
  gap: 15px;
  justify-self: center;
  background-color: red;
}

.page-footer__tel {
  grid-area: tel;
  justify-self: self-end;
}

.page-footer__developer {
  grid-area: developer;
  justify-self: self-end;
}

/* breadcrumbs */

.breadcrumbs {
  display: flex;
  list-style-type: none;
  gap: 16px;
}

.breadcrumbs__link {
  text-decoration: none;
}

/* catalog */

.catalog__container {
  display: grid;
  grid-template-columns: 320px auto;
}

.catalog__right-column {
  width: 740px;
}

.catalog__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 44px;
}

/* sorting */

.catalog__sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog__order {
  display: flex;
  list-style-type: none;
}

/* pagination */

.pagination__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination__list {
  display: flex;
  list-style-type: none;
}
